{% extends "base.html" %} {% block content %} {% load static %}
<link rel="icon" src="{% static 'img/twitter.png' %}" />
<section class="content">
  <div class="home-col">
      <div class="img-col">
          {% load static %}
          <img src="{% static 'img/twitter.png' %}" class="image" />
      </div>
      <div class="text-col">
          <h3>Home</h3><br />
      </div>
   </div>
  <section class="post_form">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="logo_user">
        <div class="logo_bar">
            {% load static %}
            <img src="{% static 'img/globe.png' %}" class="home_icon"/>
      </div>
      <div class="namebar">
         <input type="text" name="name" placeholder="Name" required />
         <textarea name="body" placeholder="Tell us Anything" required></textarea>
      <div class="submitt">
        <div><input type="file" id="files" name="image"></div>
        <div class="tweet"><input type="submit" value="Tweet" class="button"/></div>
      </div>
    </form>
  </section>
  <section class="posts">
    
    <ul>
      {% for post in posts %}
      <li>
        <img
          class="menu_icon js-menu-icon"
          src="{% static 'img/option.png' %}"
        />
        
        <div class="menu">
          <a href="/edit/{{ post.id }}/">Edit</a><br/><hr/>
          <a href="/delete/{{ post.id }}/">Delete</a>
        </div>
     
      
        <div class="name_body">
          <div class="post-logo">
            <img src="{% static 'img/globe.png' %}" class="home_icon"/>
          </div>
          <div class="posts-content">
            <div class="name_time">
              <div class="name">{{ post.name }}</div><br>
              <div class="datetime"> {{ post.created_at }}</div>
            </div>
          
            <p> {{ post.body }}</p>
            {% if post.image.url %}
            <img src="{{post.image.url}}" alt="" class="post-img">
            {% endif %}
            <div class="like">
              <div><a href="/like/{{ post.id }}/" ><img src="{% static 'img/heart.png' %}"  class="likebtn"/></a></div>
                {{post.likes}}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </section>
  <script
    src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"
  ></script>
  <script src="{% static 'js/script.js' %}"></script>
</section>
{% endblock %}